.containerLamp, .Logo, section.Main footer, .FundoText, .container{
    display: flex;
    justify-content:center;
    align-items: center;
}
header.principal, section.Ative{
    display: flex;
}

/*Header principal*/

header.principal{
    width: 80%;
    height: 8vw;
    position: relative;
    z-index: 5;

    justify-content: space-between;
    background-color: #bdbdbd;

    border-bottom: 2px solid rgb(26, 25, 25);
    box-shadow: 0px 1.5px 3px rgb(0, 0, 0);
    user-select: none;
}

.logo{
    margin: 0 0.5em 0 0.5em;
    width: 6.5vw;
    height: 6.5vw;
}
.Logo .text{
    width: 30vw;
    height: 5vw;
}

.containerLamp, a.containerBack{
    width: 8vw;
    border-left: 2px solid black;
    cursor: pointer;
}
.containerLamp:hover, a.containerBack:hover{
    border-left: 4px solid black;
    border-bottom: 0.5px solid black;
}

header .containerLamp img{
    width: 5vw;
    height: 5vw;
}
header a.containerBack img{
    width: 4.5vw;
    height: 4.5vw;
}

/*Aside*/

#AsideImg{
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 5;

    background: url("../images/00000.jpg") no-repeat;
    background-position: right;
    background-size: cover;

    margin-left: 80%;
    border-left: 3px solid rgb(5, 5, 5);
    box-shadow: -0.5px 0px 3px rgb(58, 58, 58);
}

/*Outros componentes*/

.barrinha{
    width: 100%;
    height: 2rem;
    position: fixed;
    bottom: 0;
    z-index: 6;
    
    background-color: #bdbdbd;
    border-top: 3px solid rgb(44, 44, 44);
}

.limite, section.Main{
    width: 80%;
}