.title, #SlideContainer, #produtos, #End .carregar, .FooterSecond, .Seletives{
display: flex;
justify-content:center;
align-items: center;
}

nav.menu ul, nav.MenuLateral ul li{
    display: flex;
    align-items: center;
}

/*Header*/

header.principal{
    width: 100%;
    position: fixed;
    top:0;

    justify-content: space-between;
    background-color: rgb(189, 189, 189, 0.9);
}

/*Menu de navegação*/

nav.menu{
    float: right;
}

nav.menu, nav.menu ul{
    height: 8vw;
}

.containerLamp{
    margin-left: 2em;
}

nav.menu ul{
    justify-content: space-between;
}

nav.menu ul a{
    font-size: clamp(1.5em, 1em + 1.3vw, 2em);
    font-weight: 400;
}

.FooterSecond p, .FooterSecond a, nav.menu ul a{
    font-family: 'Oswald', sans-serif;
}

nav.menu ul a li:hover{
    margin-top: 1px;
    border-bottom: 1px solid rgb(29, 29, 29);
}

nav.menu ul a + a{
    margin-left: 1.5em;
}

section.MenuIcon{
    display: none;
}

/*Menu de navegação lateral para mobile*/

nav.MenuLateral{
    width: 50vw;
    height: calc(100vh - 8vw);
    position: fixed;
    top: 8vw;
    left: -50vw;
    z-index: 2;

    background-color: rgb(189, 189, 189, 0.8);
    border-right: 3px solid black;

    transition: all .3s;
}

nav.MenuLateral ul{
    width: 100%;
    background-color: rgba(134, 134, 134, 0.5);
}

nav.MenuLateral ul li{
    border-bottom: 3px solid rgb(58, 58, 58);
    height: 8vw;
}

nav.MenuLateral ul li p {
    margin-left: 2.5vw;
}

nav.MenuLateral ul li:hover, nav.MenuLateral ul li.target:hover{
    border-bottom: 3px solid black;
    background-color: rgb(190, 190, 190, 0.9);
}

nav.MenuLateral ul li.target{
    background-color: rgba(94, 94, 94, 0.6);
}

nav.MenuLateral ul a{
    font-size: clamp(1.5em, 1em + 2vw, 3em);
}

.containerLamp{
    float: bottom;
}

/*Imagem de fundo*/

.Img{
    width: 100%;
    height: 100vh;
    position: relative;

    background: url("../images/Central.jpg") no-repeat;
    background-size: cover;
    background-position: left;
    
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 2px rgb(0, 0, 0);
}

/*Slide*/

.SlideAndTitle{
    width: 100%;
    height: 100vh;
    background-color: #d4d1d1;
}

.title{
    height: 40vh;
    background-color: #b1b1b1;
    border-bottom: 3px solid black;
}

.title .Text{
    color: rgb(4, 15, 16);
    font-size: clamp(1em, 1em + 6vw, 8vw);
}

#SlideContainer{
    width: 100%;
    height: 60vh;
}

.Slide img{
    width: 90vw;
    height: 50vh;
    border: 1px solid black;
    object-fit: cover;
    transition: all .3s;
}

.Slide img, #produtos article img{
    object-fit: cover;
}

/*Produtos*/

#produtos{
    width: 100%;
    min-height: 100vh;
    border-top: 1px solid rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
    background-color: #c9c7c7;
}

.obras{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 6vw;
}

#produtos article img{
    width: 16vw;
    height: 24vw;
    border: 1px solid rgb(134, 134, 134);
    transition: all .5s;
}

#produtos article img:hover{
    filter: grayscale(80%);
    cursor: pointer;
}

#produtos article p{
    text-align: center;
    color: rgb(70, 70, 70);
}

#produtos article p, #End .carregar button{
    font-size: clamp(2em, 1em + 1.5vw, 2vw);
}

/*Final do site*/

#End{
    width: 100%;
    min-height: 100vh;
    background-color: #d4d1d1;
}

#End .carregar{
    height: 8vh;
    border-bottom: 1px solid rgb(134, 134, 134);
}

#End .carregar button{
    width: 90%;
    height: 6vh;
    border: 1px solid black;

    background-color: rgb(175, 175, 175);

    transition: All .2s;
    cursor: pointer;
}

#End .carregar button:hover{
    background-color: rgb(158, 156, 156);
}

/*Parallax*/

.parallax{
    height: 50vh;
    border-top: 1px solid;
    border-bottom: 2px solid;

    background: url("../images/Paper.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Footer*/

footer{
    width: 100%;
    height: 42vh;
    background-color: #1a1a1a;
    box-shadow: 0px -3px 2px black;
}

.FooterSecond{
    height: 36vh;
    background-color: rgb(39, 39, 39);
    border-bottom: 1px solid black;
    flex-direction: column;
}

.FooterSecond p, .FooterSecond a{
    font-size: clamp(2em, 1em + 1.5vw, 3vw);
}

.FooterSecond p, .FooterSecond a, .FooterSecond h1{
    color: rgb(141, 141, 141);
}

.FooterSecond a:hover{
    color: rgb(87, 86, 86);
}

.Seletives{
    margin-top: 2.5vh;
}

.FooterSecond h1{
    font-size: clamp(2em, 1em + 2vw, 4vw);
}

.hide{
    opacity: 0; 
    transition: opacity 1s ease-out;
  }

