/*Aside*/

#AsideImg{
    background: url("../images/Bakuman2.png") no-repeat;
    background-position: right;
    background-size: cover;
}

/*Cartões informativos*/

header.second{
    height: 30vh;
}

.container{
    height: calc(100vh - 30vh - 8.7em);
    width: 80vw;
}

.cards{
    display: grid;
    gap: 5vh;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.card{
    position: relative;
    cursor: pointer; 
}

.card img, .card, .Back{ 
    width: 16vw;
    height: 23vw;
}
.card img{ 
    border: 2px solid black;
}

.card .Flip{
    transition: transform .5s;
    transition-delay: .1s;
    transform-style: preserve-3d; 
}

.Back, .Front{
    position: absolute;
    backface-visibility: hidden; 
}

.Back{ 
    transform: rotateY(180deg);
}
.card:hover .Flip{ 
    transform: perspective(1000px) rotateY(180deg);
}

@media(max-width: 750px){
header.second{
    height: 25vh;
    margin-bottom: 50%;
}
}