/*Index*/

@media(max-width: 1000px){
    section.Main footer button{
        width: 33vw;
        height: 18vw;
    }
    }

    /*Protudos*/

    @media(min-width: 1280px){
    nav.menu ul a{
        font-size: clamp(1vw, 1em + 1.5vw, 2.5vw);
    }
    }

/*Maioria Contatos*/

    @media(max-width: 750px){
        aside{
            display: none;
        }

        /*Header principal*/

        header.principal, .containerLamp, a.containerBack, .containerMenu{
            height: 7.5em;
        } 

        .logo{
            margin-right: 2vw;
        }

        .containerLamp, a.containerBack, .containerMenu{
            width: 7.5em;
        }

        .containerLamp img, .logo{
            width: 10vw;
            height: 10vw;
        }
        a.containerBack img, .containerMenu img{
            width: 9vw;
            height: 9vw;
        }

        /*Header secundário*/
        
        header.second{
            height: 25vh;
        }
        
        header.second, article.redes, header.principal{
            width: 100vw;
        }

        /*Redes de contato*/

        article.redes{
            height: 60vh;
            margin-bottom: 50%;
        }

        article .Redes{
            flex-direction: column;
            margin-top: 30%;
        }
        article .Redes img{
            width: 20vw;
            height: 20vw;
        }
        article .Redes img.Dis{
            width: 21vw;
            height: 21vw;
        }
        article .Redes p{
            font-size: 5vw;
            font-weight: 450;
            font-family: 'Roboto', sans-serif;
        }

        article .Redes .AllIcons, .Discord{
            margin-bottom: clamp(5vh, 10vh, 15vh);
        }

        /*Home*/

        section.Main footer{
            width: 100%;
        }

        section.Main footer button{
            width: 40vw;
            height: 20vw;
        }

        .FundoText{
            display: none;
        }

        /*Cards*/

        .container{
            height: calc(100vh - 35vh - 8.7em);
            width: 100vw;
            margin-bottom: 50%;
            flex-direction: column;
        }

        .card img, .card, .Back{ 
            width: 35vw;
            height: 38vw;
        }
    }
    
    @media(max-width: 745px){
        .Logo .text{
            display: none;
        }
        .Logo .text2{
            width: 40vw;
            height: 10vw;
        }
    }

    @media(max-width: 700px){
        .cards{
            grid-template-columns: 1fr;
            gap: 0px;
        }
        .card + .card, .container{
            margin-top: 5vh;
        }
      }

    @media(min-height: 800px){
            .card img{ 
                border: .2vw black solid;
            }
    
            .card, .card img, .Back{
                width: 25vw;
                height: 30vw;
            }
    }

    @media(max-width: 900px){
        header.principal, .containerLamp, a.containerBack, .containerMenu{
            height: 7.5em;
        } 

        nav.MenuLateral{
            top: 7.5em;
        }

        section.MenuIcon{
            display: flex;
        }
        nav.menu{
            display: none;
        }
        .obras{
            margin: 5vh 0 5vh 0;
            grid-template-columns: 1FR 1FR;
            gap: 6vw;
        }

        #produtos article img{
            width: 25vw;
            height: 33vw;
        }


        #End{
            min-height: 42vh;
        }

        .parallax{
            display: none;
        }
    }

    @media(max-width:640px){
        #produtos article img{
            width: 30vw;
            height: 38vw;
        }
        #produtos article p{
            display: none;
        }
    }

    @media(max-width: 400px){
        header .containerLamp img{
            width: 18vw;
            height: 18vw;
        }
        header a.containerBack img, .containerMenu img{
            width: 17vw;
            height: 17vw;
        }
    }
    
    